# Question 1

In [10]:
a = 0

def b():
 global a
 a = c(a)

def c(a):
 return a + 2

b()
b()
b()
a

6

-> From the code above,it is clear that variable 'a' is first assigned to value '0'.

->When function 'b' is called for the first time, 'a' in function 'b' which has a global scope gets assigned to value '0' as well.Function 'b' calls function 'c' which takes 'a' as an argument and returns a value 'a + 2' which here would be '0 + 2' and this value('2') would now be assigned to 'a' in function 'b'.

->When function 'b' is called the second time, 'a' in function 'b' is assigned to '2'.Function 'b' calls function 'c' which takes 'a' as an argument, now returns a value '2 + 2' and this value('4') would now be assigned to 'a' in function 'b'.

->When function 'b' is called the third time, 'a' in function 'b' is assigned to '4'.Function 'b' calls function 'c' which takes 'a' as an argument, now returns a value '4 + 2' and this value('6') would now be assigned to 'a' in function 'b'.

->Finally, variable 'a' now contains value 6 which is displayed in our shell.

# Question 2

In [1]:
def file_length(file_name):
    'Returns length of file content in case if file exists'
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File {} not found.".format(file_name))

In [2]:
file_length('curr.txt')

File curr.txt not found.

In [3]:
file_length('currencies.txt')

477

# Question 3

In [4]:
class Marsupial:
    
    def __init__(self):
        self.lst = []
    
    def put_in_pouch(self,x):
        'Adds element to the pouch' 
        self.lst.append(x)
    
    def pouch_contents(self):
        'Returns contents in the pouch'
        return self.lst

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    
    def __init__(self,x=0,y=0):
        self.x = x
        self.y = y
        super(Kangaroo, self).__init__()
    
    def jump(self,dx,dy):
        # Adds distance by which kangaroo jumps from its actual position
        self.x = self.x + dx
        self.y = self.y + dy
    
    def __str__(self):
        
        return 'I am a Kangaroo located at coordinates ('+str(self.x)+','+str(self.y)+')'

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)

['doll', 'firetruck', 'kitten']

In [6]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

In [7]:
def collatz(x):
    'returns collatz sequence from x specified'
    print(x)
    if x==1:
        return
    elif (x%2)==0:
        return collatz(x//2)
    elif (x%2)!=0:
        return collatz((3*x)+1)

In [8]:
collatz(1)

1

In [9]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [10]:
def binary(n):
    'Returns inary version of the numbe specified'
    if n<1:
        return n
    else:
        binary(n//2)
        print(n%2,end="")

In [11]:
binary(1)

1

In [12]:
binary(3)

11

In [13]:
binary(9)

1001

# Question 6

In [59]:
from html.parser import HTMLParser
import re

class HeadingParser(HTMLParser):
    header = False
    
    def handle_starttag(self, tag, attrs):
        x=re.search('h[0-9]',tag)
        if x:
            self.header = True
            print((int(tag[1])-1)*' ',end="")
    
    def handle_data(self, data):
        if self.header:
            print(data)
            
    def handle_endtag(self, tag):
        x=re.search('h[0-9]',tag)
        if x:
            self.header = False

infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [122]:
from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    
    def __init__(self,url):
        HTMLParser.__init__(self)
        self.url=url
        self.links=[]
       
        
    def handle_starttag(self,tag,attrs):
        if tag=='a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(url,attr[1])
                    
                    if absolute[:4]=='http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        # Returns links accumulated from the url specified
        return self.links

    
def webdir(url,depth,indent):
    
    f = urlopen(url)
    cont = f.read().decode()
    c = Collector(url)
    c.feed(cont)
    x=c.getLinks()
    
    if len(x)>0:
        for i in x:
            d=1
            print(((indent+d)*' ')+i)
            if(d<depth):
                webdir(str(i),depth,indent+1)
                d+=1
            
url='http://reed.cs.depaul.edu/lperkovic/test1.html'
print(url)
webdir(url,2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

In [96]:
import sqlite3
conn = sqlite3.connect('PSet2')
curr=conn.cursor()

curr.execute("CREATE TABLE rcise(City text,Country text,Season text,Temperature real,Rainfall real)")
curr.execute("insert into rcise values ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2)")
curr.execute("insert into rcise values  ('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346.0)")
curr.execute("insert into rcise values ('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6)")
curr.execute("insert into rcise values ('London','United Kingdom','Summer',15.7,157.0),('London','United Kingdom','Fall',10.4,218.5)")
curr.execute("insert into rcise values ('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5)")
curr.execute("insert into rcise values ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")
             

curr.execute('select Country  from rcise')
curr.fetchall()

conn.commit()

## a)

In [99]:
curr.execute("select Temperature from rcise")
curr.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## b)

In [100]:
curr.execute("select distinct(City) from rcise")
curr.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

## c)

In [101]:
curr.execute("select * from rcise where Country = 'India'")
curr.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## d)

In [102]:
curr.execute("select * from rcise where Season = 'Fall' ")
curr.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## e)

In [103]:
curr.execute("select City,Country,Season from rcise where Rainfall between 200 and 400")
curr.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

## f)

In [108]:
curr.execute("select City,Country from rcise where Season = 'Fall' and Temperature > 20 order by Temperature ")
curr.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

## g)

In [109]:
curr.execute("select sum(Rainfall) from rcise where City = 'Cairo' ")
curr.fetchall()

[(27.6,)]

## h)

In [111]:
curr.execute("select Season,sum(Rainfall) from rcise group by Season")
curr.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

## Question 9

In [112]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

### a)

In [117]:
newList1 = [x.upper() for x in words]
newList1

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b)

In [118]:
newList2 = [x.lower() for x in words]
newList2

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c)

In [119]:
newList3 = [len(x) for x in words]
newList3

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d)

In [120]:
newList4 = [[x.upper(),x.lower(),len(x)] for x in words]
newList4

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

### e)

In [121]:
newList5 = [x for x in words if len(x)>=4]
newList5

['quick', 'brown', 'jumps', 'over', 'lazy']